/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/stats
bookappointment_key.txt
login_key.txt
applicant_logger.js
applicant_loggermaroc.js
checker_logger.js
app/lib/config.txt
test_logger.js